.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"} Screamout
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#contact"} Contact
        
    / /.nav-collapse
/ Begin page content
.container
  .page-header
    .col-md-3
      = link_to t('.new', :default => t("helpers.links.new")), new_content_path, :class => 'btn btn-primary'
      = simple_form_for @con, :html => { :class => 'form-search' } do |f|
        .form-group
          = f.input :tags ,:type=> 'search', :class => 'input-medium search-query',:input_html => {"data-pre"=> @c.to_a.map.to_json }

  %p#target
  #content_list
    .row
      %script#template{:type => "x-tmpl-mustache"}
        .col-md-3.fjs-ele
          .thumbnail
            %a{target:"blank" ,href:"{{url}}" }
              %img{src: "{{photo_url}}"}
            .bookmark-controls
              %a.btn.btn-primary{href: "/contents/{{_id}}/edit", role: "button"}
                %span.glyphicon.glyphicon-edit
              %a.btn.btn-default{href:"/contents/{{_id}}",data:{method:"delete" ,confirm:"Are you sure?" }}
                %span.glyphicon.glyphicon-trash
            .bookmark-info
              .h5
                {{title}}
              {{#tags_array}}
              %span.label.label-default {{.}}
              {{/tags_array}}

.footer
  .container
    %p.text-muted Place sticky footer content here.
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
:javascript
  conc = #{@contents.to_json}