.rspec
.rvmrc
.bundle/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/config/initializers/secret_token.rb
spec/dummy/config/mongoid.yml
Gemfile.lock
README.rdoc
spec/dummy/README.rdoc
spec/dummy/public
coverage/
