/*
 
 *= require twitter-bootstrap-static/bootstrap
 *= require select2
 *
*/

.content{
    padding: 20px;
}
.iframeheading{

    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-left{
   text-align :left !important;
}

.margin40{
    margin-left: -40%
}

