ul.buttons_custom
{
	list-style-type: none;	
}

ul.buttons_custom li
{	
	opacity: 0.2;
	display: inline;
  float: left;	
  padding-right: 20px;
  padding-top: 10px;
}

ul.buttons_custom li:hover
{
	opacity: 0.8;
}
.well{
  position: relative;
}

.well .hover-wrapper
{
  position: absolute;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0;
  background-color: #3D001F;
  color: #FFFFFF;
  bottom: 0;
  left: 0;
  right: 0;
}
.well .hover-wrapper #tag ul
{
  list-style-type: none;  
}
.well .hover-wrapper #tag li
{    
  display: inline;
  float: left;
}
.well:hover .hover-wrapper
{
  opacity: 0.8;
  top:0;
}

